In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob

In [20]:
file_paths = glob.glob("data/oil_production/Prod*.csv")
data_frames = []
for file_path in file_paths:
    df = pd.read_csv(file_path)
    data_frames.append(df)

combined_production_data = pd.concat(data_frames, ignore_index=True)
combined_production_data

,API_WellNo,County,CoName,Hole,SideTrck,Completion,Well_Typ,Field,Wl_Status,Well_Nm,town,Prod Form,MonthProd,GasProd,WaterProd,OilProd,Year
0,31013125100000,Chautauqua,PPP Future Development Inc.,12510,0,0,GD,Lakeshore,AC,Smallback NY 38,Cherry Creek,Medina,12.0,1834.0,0.0,NaN,2010
1,31009076410000,Cattaraugus,"Copper Ridge Oil, Inc.",7641,0,0,OD,Five Mile,PA,Schorman 32,Allegany,Bradford,4.0,NaN,1.0,6.0,2010
2,31029257250000,Erie,"Alden Aurora Gas Company, Inc.",25725,0,0,GD,Alden-Lancaster,AC,Voss 1,Alden,Medina,12.0,1028.0,0.0,0.0,2010
3,31009224480000,Cattaraugus,"Empire Energy E & P, LLC",22448,0,0,GD,Lakeshore,AC,Hostetler 2,Leon,Medina,12.0,777.0,0.0,NaN,2010
4,31013180080000,Chautauqua,PPP Future Development Inc.,18008,0,0,GD,Lakeshore,AC,Hammond 1,Ellery,Medina,12.0,1683.0,0.0,0.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324416,31013147800000,Chautauqua,Villafrank & Wells,14780,0,0,GD,Lakeshore,AC,Farver II,Chautauqua,Medina,12.0,1265.0,0.0,0.0,2021
324417,31029251130000,Erie,PPP Future Development Inc.,25113,0,0,GD,Concord,AC,Spaulding 1,Concord,Medina,12.0,1287.0,0.0,0.0,2021
324418,31013114540000,Chautauqua,"Empire Energy E & P, LLC",11454,0,0,GD,Lakeshore,AC,Moscato 1217,Pomfret,Medina,10.0,561.0,0.0,0.0,2021
324419,31013235830001,Chautauqua,PPP Future Development Inc.,23583,0,1,GD,Lakeshore,AC,Sleasman 2-013,Poland,Medina,12.0,2068.0,0.0,0.0,2021
324420,31013221440000,Chautauqua,"Stedman Energy, Inc.",22144,0,0,GD,Lakeshore,AC,Vanord 1,Harmony,Grimsby,12.0,2687.0,70.0,0.0,2021

In [21]:
oil_wells_data = pd.read_csv('data/oil_wells.csv', low_memory=False)
merged_data = pd.merge(oil_wells_data, combined_production_data, on='API_WellNo', how='outer')
merged_data.to_csv('data/merged_oil_wells.csv', index=False)
merged_data

,API_WellNo,Cnty,Hole_x,SideTrck_x,Completion_x,Well_Name,Company_name,Operator_number,Well_Type,Map_Symbol,...,Field,Wl_Status,Well_Nm,town_y,Prod Form,MonthProd,GasProd,WaterProd,OilProd,Year
0,31001010720000,1,1072,0,0,Finch 1,Corona Typewriter,9372,NL,O,...,Not Applicable,UN,Finch 1,Knox,Not Applicable,NaN,NaN,NaN,NaN,2000.0
1,31001010730000,1,1073,0,0,Hilton James 1,Belmont Quadrangle Drilling,9034,NL,O,...,Not Applicable,UN,Hilton James 1,New Scotland,Not Applicable,NaN,NaN,NaN,NaN,2000.0
2,31001210070000,1,21007,0,0,1,Turf Western Ave. Inc.,1903,TH,OP,...,Not Applicable,PA,1,Guilderland,NA - Geoexchange,NaN,NaN,NaN,NaN,2000.0
3,31001210080000,1,21008,0,0,2,Turf Western Ave. Inc.,1903,TH,OP,...,Not Applicable,PA,2,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,2000.0
4,31001210090000,1,21009,0,0,3,Turf Western Ave. Inc.,1903,TH,OP,...,Not Applicable,PA,3,Guilderland,Not Applicable,NaN,NaN,NaN,NaN,2000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350811,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,...,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,0.0,0.0,0.0,0.0,2008.0
350812,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,...,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,0.0,0.0,0.0,0.0,2009.0
350813,31123261630000,123,26163,0,0,Cook 1 (626940),Cook Lee J.,2888,GE,GW,...,South Penn Yan,AC,Cook 1 (626940),Barrington,Queenston,12.0,1537.0,0.0,0.0,2021.0
350814,31123550110000,123,55011,0,0,Castner 1-S,Cabot Oil & Gas Corp.,209,DH,DP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350815,31123615210000,123,61521,0,0,Castner 1,Cabot Oil & Gas Corp.,209,DH,DP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df = merged_data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350816 entries, 0 to 350815
Data columns (total 71 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   API_WellNo               350816 non-null  int64
 1   Cnty                     350816 non-null  int64
 2   Hole_x                   350816 non-null  int64
 3   SideTrck_x               350816 non-null  int64
 4   Completion_x             350816 non-null  int64
 5   Well_Name                350776 non-null  object
 6   Company_name             350809 non-null  object
 7   Operator_number          350816 non-null  int64
 8   Well_Type                350816 non-null  object
 9   Map_Symbol               350815 non-null  object
 10  Well_Status              350816 non-null  object
 11  Date_Status              86366 non-null   object
 12  Date_Permit_Application  243196 non-null  object
 13  Permit_Issued            248757 non-null  object
 14  Date_Spudded             256651 non-null  object
 15  Date_Total_Depth         245945 non-null  object
 16  Date_Well_Completed      281007 non-null  object
 17  Date_well_plugged        44089 non-null   object
 18  Date_well_confidential   102324 non-null  object
 19  confid                   350602 non-null  object
 20  town_x                   350452 non-null  object
 21  quad                     349525 non-null  object
 22  quadsec                  349442 non-null  object
 23  Producing_name           350799 non-null  object
 24  Producing_formation      350810 non-null  object
 25  Financial_security       350810 non-null  object
 26  Slant                    350651 non-null  object
 27  County_x                 350452 non-null  object
 28  Region                   350810 non-null  float64
 29  State_lease              6093 non-null    object
 30  Proposed_depth           343663 non-null  float64
 31  Surface_location         350810 non-null  object
 32  Surface_Longitude        350496 non-null  float64
 33  Surface_latitude         350496 non-null  float64
 34  Bottom_hole_location     350810 non-null  object
 35  Bottom_hole_longitude    350367 non-null  float64
 36  Bottom_hole_latitude     350367 non-null  float64
 37  True_vertical_depth      350810 non-null  float64
 38  Measured_depth           350810 non-null  float64
 39  Kickoff                  350810 non-null  float64
 40  DrilledDepth             350810 non-null  float64
 41  Elevation                258171 non-null  float64
 42  Original_well_type       350810 non-null  object
 43  Permit_Fee               350401 non-null  float64
 44  Objective_formation      350810 non-null  object
 45  Depth_Fee                350810 non-null  float64
 46  Spacing                  43488 non-null   object
 47  Spacing_Acres            9101 non-null    float64
 48  Integration              40687 non-null   object
 49  Dt_Hearing               2551 non-null    object
 50  Dt_Mod                   350816 non-null  object
 51  LINK                     350816 non-null  object
 52  Location_Verified        350810 non-null  object
 53  GeneralWellType          350816 non-null  object
 54  GeneralWellStatus        350816 non-null  object
 55  County_y                 324421 non-null  object
 56  CoName                   324420 non-null  object
 57  Hole_y                   324421 non-null  float64
 58  SideTrck_y               324421 non-null  float64
 59  Completion_y             324421 non-null  float64
 60  Well_Typ                 324421 non-null  object
 61  Field                    324411 non-null  object
 62  Wl_Status                324421 non-null  object
 63  Well_Nm                  324385 non-null  object
 64  town_y                   324285 non-null  object
 65  Prod Form                324421 non-null  object
 66  MonthProd                318225 non-null  float64
 67  GasProd                  290612 non-null  float64
 68  WaterProd                300871 non-null  float64
 69  OilProd                  276202 non-null  float64
 70  Year                     324421 non-null  float64
dtypes: float64(22), int64(6), object(43)
memory usage: 190.0+ MB

In [23]:
try:
    print('Script executed successfully')
except:
    print('FAILED')

Script executed successfully